@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
.slider-img{
	height: 460px
}

.contact-input{
        position: relative;
    left: 47px;
    width: 264px;
    height: 30px;
    margin-left: 100px;
    border: 1px solid #dadada;
    box-shadow: 0 0 1px black;
    font-size: 15px;
    padding: 15px 8px;
    color: #737373;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}
.contact-input-label{
    display: block;
    left: 0px;
    position: relative;
    margin-left: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}
.contact-des{
    position: relative;
    top: -15px;
    color: #5d5d5d;
    left: 43px;
    font-size: 15px;
    font-family: 'Roboto Slab';
    text-align: initial;
    width: 170px;
    height: fit-content;
    padding-top: 50px;
}
.stripe-cardform{
    margin-top: 32px;
    margin-left: 295px;
}
.button-stripe{
    margin-top: 15px;
    float: left;
    padding: 5px 63px;
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(
65deg
,#03A9F4,#46f7de);
}
.head-slider-h4{
    font-size: 70px;
    line-height: 1.08em;
    font-weight: 600;
    color: #fff;
    text-transform: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.55);
    margin: 0;
}
.point-1-feed{
	position: absolute;
    top: 250px;
    text-align: center;
    left: 160px;
    width: 400px;
}
.point-2-feed{
	position: absolute;
    top: 250px;
    text-align: center;
    left: 920px;
    width: 400px;
}
.point-4-feed{
	position: absolute;
    top: 400px;
    left: 970px;
    text-align: center;
    width: 300px;
}
.point-3-feed{
	position: absolute;
    top: 400px;
    left: 70px;
    text-align: center;
    width: 400px;
    margin-left: 100px;
}
.bg{
	background-position: center;
    background: url(/the-best-img-1.png), no-repeat;
    height: 100px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 140px;
    margin-left: 520px;
}
.index-over-video{
	width:100%;
    text-align: center;
    position: relative;
    padding: 20px 20px;
    color: #353535;
    background: url('/bg.jpg');
    margin-bottom: 20px;
}
.button{
	height: auto;
    font-size: 17px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 20px;
    outline: 0;
    color: #fff;
    border: 1px solid#ffffff;
    border-radius:19px;
    margin-top: 40px
}
.tag-line{
	font-size: 18px;
    font-weight: 500;
    color: #425d74;
    line-height: 100px;
    right: 70px;
    position: relative;
}
.logo{
	background: url(/GLOBUS.png);
    height: 120px;
    width: 50%;
    position: relative;
    top: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    left: 200px;
    display: block;
}

.why-us-h4{
	z-index: 6;
    color: black;
    font-family: Open Sans;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    padding: 77px 20px;
    line-height: 60px;
    margin-left: 100px;
}
.slider{
	position: relative;
    top: 171px;
}
.fixed-header{
	box-shadow: 0px 0px 20px 5px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
}
.nav-ul{
	list-style: none;
    display: flex;
    width: 80%;
    text-align: center;
    padding-left: 150px;
}
.nav-text{
	font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    text-decoration: none;
    padding: 1px 37px;
    display: block;
    color: #425d74;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
}
.section-hr1{
	width: 190px;
    position: absolute;
    top: 116px;
    left: 200px;
}
.section-hr1:after{
	content: "";
    height: 6px;
    background-color: #9c9c9cbd;
    width: 6px;
    border-radius: 50%;
    left: 204px;
    top: -4px;
    position: absolute;
    display: block;
}
.cleaning-conscience-h4{
	padding: 20px 120px;
    margin-top: 30px;
}
.cleaning-conscience-p-tag{
	width: 100%;
    padding: 1px 20px;
}
.section-hr2{
	width: 180px;
    position: relative;
    top: -1px;
    left: 50px;
}
.cleaning-conscience-h1{
	padding: 0px 90px;
    margin-top: 60px;
    font-size: 3em;
}
.header-line{
	margin: 0px;
    position: relative;
    top: -10px;
    height: 2px;
    background: #23bfe2;
}
.head-contact-info{
     font-size: 17px;
    line-height: 20px;
    position: relative;
    top: 30px;
    font-weight: 500;
}
.head-contact-info-span{
	font-size: 25px;
    line-height: 39px;
    left: -50px;
    position: relative;
}
.point-1-in-conscience-pTag{
     position: relative;
    left: 40px;
}
.point-1-in-conscience-icon{
    position:absolute;
      top:8px;
      left:45px;
      color:green;
}
.point-2-in-conscience-pTag{
   position: relative;
    left: 5px;
}
.point-2-in-conscience-icon{
      position:absolute;
      top:8px;
      left:8px;
      color:green;
}
.point-3-in-conscience-pTag{
    text-align: center;
	}
.point-3-in-conscience-icon{
	color: green;
    position: absolute;
    left: 290px;
    top: 7px;
}
.consciene-point-div{
	    padding: 10px 20px;
}
.clock{
	position: absolute;
    top: 10px;
    color: #23bfe2;
}
.head-opening-hours-p{
	position: relative;
    left: 35px;
    top: 15px;
}
.head-opening-hours{
    font-size: 16px;
    line-height: 20px;
    padding-right: 35px;
    position: relative;
    top: 24px;
    font-weight: 500;
    left: -100px;
}
.button:hover{
	box-shadow: 0px 0px 6px black;
	color:#fff;
        background: linear-gradient(45deg, #23ecb2, #4CAF50);
}
.subtitle{
	display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 100px;
    width:100%;
    text-align: center;
    animation: zoomIn 1.2s;
    
}
.client-slider-bg{
	background: url(/slide-bg.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    display: block;
}
.client-slider-div{
	text-align: center;
    padding: 25px 100px;
    left: 300px;
}
.client-say{
    text-align: center;
    position: relative;
    top: 40px;
    text-shadow: 0 0 2px black;
    left: -20px;
    font-size: 2.9em;
}
.client-slider-h4{
	color: white;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    margin:20px;
}
.client-side-colon{
	color: white;
    font-size: 7em;
    font-weight: 600;
    position: absolute;
    top: 60px;
    left: 60px;
}
.client-side-p{
	color: #d6d6d6;
    margin-left: 20px;
}
.carousel-indicators{
	right: 45px;
}
.footer-logo{
	top: 5px;
    left: 70px;
    height: 130px;
    background-size: cover;
    width: 75%;
}

.footer-contact-h1{
	margin-top: 70px;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 600;
}
.location-pin{
	float: left;
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    color: #23bfe2;
    margin-bottom: 10px;
}
.contact-address{
    float: left;
    font-family: 'Roboto Slab';
    font-size: 19px;
    position: relative;
    left: 10px;
    top: 6px;
}

.footer-our-address{
	position: relative;
    top: 14px;
    color: #5d5d5d;
    font-size: 15px;
}
.footer-time-div{
	margin-top:100px;
}
.footer-ph{
	margin-left: 45px;
	color: #5d5d5d;
    font-size: 15px;
}
.isShowing{
       width: 100%;
    box-shadow: 0 0 20px black;
    position: fixed;
    z-index: 1000;
    padding: 20px 10px;
    background: linear-gradient(65deg,#03A9F4,#46f7de);
    top: 0px;
}
.nav-text-color{
   color:white;
}
.footer-contact-div{
	padding: 30px 0px;
}
.hr-adjustment{
	    left: 500px;
}
.footer-phone-icon{
	float: left;
	color: #23bfe2;
}
.mission{
    margin-top: 100px;
    position: relative;
    margin-left: 100px;
    font-size: 2em;
}
.target{
    color: #23bfe2;
    float: left;
    margin-left: 100px;
    margin-right: 30px;
    margin-top:10px;
}
.about-color-box{
	margin-right: 70px;
    margin-left: 70px;
    height: 200px;
    margin-top: 60px;
    background: linear-gradient(45deg, #00BCD4, #03A9F4);
}
.about-guarantee{
	color: white;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
}
.about-h4{
	margin-top: 50px;
    margin-bottom: 30px;
}
.services-subtitle{
	text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.services-pTag{
	padding-left: 50px;
    padding-right: 50px;
}
.section-hr-2-adjust{
    left:115px;
    top: 0px;
}
.services-div-icons{
	text-align: center;
    margin-top: 100px;
}
.services-Ptag-last-point{
	    padding-left: 500px;
    padding-right: 500px;
}
.services-icon{
	    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 0 20px #f1f1f1;
    color: #03A9F4;
    padding: 20px 20px;
}
.about-Valuepoints-PTag{
	top:0px;
	width:80%;
}
.tick-about{
	position: relative;
    top: 0px;
    left: -5px;
    color: green;
}
.margin-div{
	margin:20px 0px;
}

.footer-link{
	background: linear-gradient(45deg, #00c3d4, #2196F3);
    margin-top: 50px;
    height: 70px;
    box-shadow: 0 0 9px #888888;
}
.footer-link-li{
	    margin-top: 15px;
}
.contact-box{
	background: white;
    box-shadow: 0 0 7px black;
    height: 215px;
    margin-left: 90px;
    width: 500px;
}
.contact-Lastbox{
	background: white;
    box-shadow: 0 0 7px black;
    height: 215px;
    margin:20px 500px;
    width: 500px;
}
.contact-margin{
	text-align: center;
    margin-top: 20px;
}
.about-image1{
	background: url('/team.jpg');
    width: 100%;
    background-size: cover;
    height: 350px;
}
.about-image2{
	background: url('/valuable.jpg');
    background-size: cover;
    height: 350px;
    position: relative;
    margin-left: 100px;
    max-width: 500px;
    margin-top: 20px;
}
.image{
	height: 300px;
    width: 300px;
    background-size: cover;
    border-radius: 50%;
    margin-left: 60px;
    margin-bottom: 10px;
}
.img-service1{
	background: url('/house.jpg');
	background-size: cover;
}
.img-service2{
	background:url('/apartment.jpg');
	background-size: cover;
}
.img-service3{
	background:url('/moveIn.jpg');
	background-size: cover;
	margin-left:530px;
}
.img-service4{
	background:url('/commercial.jpg');
	background-size: cover;
}

.home-maid{
	background: url('/clean-maid.png');
    background-size: cover;
    height: 484px;
    position: relative;
    max-width: 700px;
    left: 50px
}
@media(max-width: 500px){
    .display{
        display: none;
    }
    .cleaning-conscience-h1 {
    padding: 0px 0px;
    margin-top: 20px;
    font-size: 26px;
    width: 100%;
    text-shadow: 0 0 2px black;
}
.contact-input-label {
    display: block;
    left: -105px;
    margin-left: 0px;
}
.contact-input {
    right: 15px;
    height: 30px;
    margin-left:0px; 
    
}
.stripe-cardform {
    margin-left: 38px;
}
.sm-margin{
    left: -113px;
}
.sm-div{
        padding-left: 47px;
    padding-top: 30px;
}
.section-hr2 {
    width: 100px;
    position: relative;
    top: 6px;
    left: 84px;
}
.cleaning-conscience-h4 {
    padding: 0px 0px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}
.cleaning-conscience-p-tag {
    width: 100%;
    padding: 1px 0px;
}
.section-hr1 {
    width: 100px;
    position: absolute;
    left: 60px;
    top: 58px
}
.section-hr1:after {
    left: 120px;
}
.consciene-point-div {
    padding: 3px 11px;
}
.point-1-in-conscience-icon {
    position: absolute;
    top: 2px;
    left: 20px;
}
.point-2-in-conscience-icon {
    position: absolute;
    top: 2px;
    left: 18px;
}
.point-1-feed {
    top: 87px;
   
    left: -13px;
    width: 160px;
}
.point-2-feed {
    top: 90px;
    left: 227px;
    width: 149px;
}
.client-say {
    font-size: 1.9em;
}
.client-slider-bg{
    height: 360px;
    background-position: bottom;
}
.client-side-colon {
    top: 36px;
    left: 0px;
    font-size:6em;
}
.client-slider-div{
    left:0px;
    padding:5px 0px;
}
.nav-ul {
    width: 100%;
    padding-left: 0px;
}
.footer-contact-h1{
   margin-top:0px;
}
.footer-time-div {
     margin-top: 0px;
}
.footer-link-li{
    padding: 1px 0px;
    font-size: 13px;
}
.section-hr-2-adjust{
    left: 88px;

}
.target {
     margin-right: 0px; 
     margin-top: 0px; 
}
.about-color-box {
    margin-right: 0px; 
    margin-left: 0px; 
    height: 300px;
    }
.mission {
    margin-top: 0px; 
    position: relative;
    left: 0px; 
    font-size: 1.5em;
    text-align: center;
}
.footer-our-address2 {
    top:0px;
    text-align: center;
    }
.about-h4 {
    margin-bottom: 0px; 
    text-align: center;
}
.services-Ptag-last-point {
    padding-left: 0px; 
    padding-right: 0px; 
}
.img-service3 {
     margin-left: 45px; 
}
.services-div-icons {
    margin-top: 0px;
}
.services-subtitle {
    margin-left: 0px; 
    margin-right: 0px;
}
.contact-Lastbox {
    background: white;
    box-shadow: 0 0 7px black;
    height: 215px;
    margin: 0px 0px; 
    width: 100%;
}
.contact-box {
    background: white;
    box-shadow: 0 0 7px black;
    height: 215px;
    margin-left: 0px; 
    width: 100%;
    margin-top: 10px;
}
.about-image2{
    margin-left:0px;
    margin-top:5px;
}
.point-3-feed {
    position: relative;
    top: 100px;
    left: -55px;
    width: 219px;
    margin-top: 70px;
    margin-left: 100px;
}

.point-4-feed {
    top: 390px;
    left: 190px;
    width: 182px;
}
.nav-text2{
     padding: 38px 20px;
    margin-top: 37px
}

.bg{
    padding: 64px;
    margin-top: -39px;
    margin-left: 102px;
}
.why-us-h4{
    font-size: 26px;
    padding: 0px;
    margin-left: 0px;
    line-height: 29px;
    position: relative;
    top: -84px;
}
.index-over-video{
    padding:100px 0px;
}
.point-3-in-conscience-pTag {
    text-align: center;
    position: relative;
    top: -10px;
    left: 10px;
}
.point-3-in-conscience-icon {
    color: green;
    position: absolute;
    left: 18px;
    top: -10px;
}
.point-2-in-conscience-pTag {
    position: relative;
    left: 22px;
}
.point-1-in-conscience-pTag {
    position: relative;
    left: 25px;
}
.fixed-top{
        position: absolute;
}
    .logo{
        left: 114px;
    height: 60px;
    position: relative;
    width: 152px;
    top: 3px;
        margin-bottom: 15px;
    }
    .slider-img{
        height: 400px;
    }
    .head-slider-h4 {
    font-size: 33px;
}
    .sidenav-trigger{
    position: relative;
    top: 10px;
    left: 10px;
    color: #03A9F4;
    }

    .hr-adjustment{
        left: 96px;
    }
    .mobile-nav{
        background: #fffffff2;
    width: 200px;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: -3;
    }
}

@media(min-width: 500px){
    .sidenav-trigger{
        display:none;
    }
}
@media(min-width: 500px) and (max-width: 1224px){
    .logo {
    height: 100px;
    width: 79%;
    top: 0px;
    left: 0px;
}
.tag-line {
    font-size: 15px;
    line-height: 114px;
    right: 70px;
}
.head-opening-hours {
    font-size: 12px;
    line-height: 20px;
    padding-right: 0px;
    top: 37px;
    left: -80px;
}
.head-contact-info {
    font-size: 14px;
    top: 51px;
}
.head-contact-info-span {
    font-size: 18px;
    left: -20px;
}
.nav-ul {
    width: 100%;
    padding-left: 0px;
}

.cleaning-conscience-h1 {
    padding: 0px 38px;
    margin-top: 60px;
    font-size: 2.1em;
}

.section-hr1 {
    width: 185px;
    top: 104px;
    left: 70px;
}
.section-hr2 {
    width: 170px;
    top: 3px;
    left: 102px;
}
.cleaning-conscience-h4 {
    padding: 3px 60px;
    margin-top: 30px;
}
.cleaning-conscience-p-tag {
    width: 100%;
    padding: 0px 50px;
}


.footer-logo {
    width: 90%;
}
.footer-contact-h1 {
    margin-top: 48px;
}
.footer-time-div {
    margin-top: 75px;
}
}